stages:
  - test

test_job:
  stage: test
  image: python:slim
  script:
    - echo "Running tests..."
    - python -m pip install --upgrade pip
    - pip install hatch pytest mypy
    - hatch run test --verbose
    - echo "Tests completed."
