stages:
  - test
  - build

test_job:
  stage: test
  image: python:slim
  script:
    - echo "Running tests..."
    - python -m pip install --upgrade pip
    - pip install hatch pytest mypy
    - hatch test --cover
  coverage: '/TOTAL.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'

build_job:
  stage: build
  image: python:slim
  script:
    - python -m pip install --upgrade pip
    - pip install hatch hatch-vcs
    - hatch build # Construit la wheel avec la version basée sur le tag Git
  artifacts:
    paths:
      - dist/*.whl # Stocke la wheel générée comme artefact
