stages:
  - test

test_job:
  stage: test
  image: alpine:latest
  script:
    - echo "Running tests..."
    - apk add --no-cache python3 py3-pip
    - pip3 install hatch
    - hatch run test
    - echo "Tests completed."
