stages:
  - test

test_job:
  stage: test
  image: python:slim
  script:
    - echo "Running tests..."
    - pip3 install hatch pytest
    - pip install my-arithmetic-bhuchon
    - hatch run test
    - echo "Tests completed."
