name: tp_cicd
on: [push]
jobs:
  test_job:
    runs-on: ubuntu-latest
    steps:
      -run: |
         echo "Running tests..."
         python -m pip install --upgrade pip
         sudo apt update
         sudo apt install -y git
         pip install hatch pytest mypy
         hatch test --cover

name: Build Stable
on:
  push:
    tags:
      - '*'
jobs:
  build_stable:
    runs-on: ubuntu-latest
    steps:
      -run: |
         python -m pip install --upgrade pip
         pip install hatch hatch-vcs
         sudo apt update
         sudo apt install -y git
         hatch build
         echo "my-arithmetic-bhuchon deployment on stable servers"
         ls -l dist/
    artifacts:
      files:
        - dist/*.whl

name: Build Develop
on:
  push:
    branches:
      - develop
jobs:
  build_develop:
    runs-on: ubuntu-latest
    steps:
      -run: |
         python -m pip install --upgrade pip
         pip install hatch hatch-vcs
         sudo apt update
         sudo apt install -y git
         hatch build
         echo "my-arithmetic-bhuchon deployment on develop servers"
         ls -l dist/
    artifacts:
      files:
        - dist/*.whl
